*{
  box-sizing: border-box;
}

html{
  height: 100vh;
}

body {
  background: #000;
  color: #fff;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#root{
  height: 100%;
}

.swiper {
  height: 100%;
  margin-top: -126px;
  width: 100%;
}

.swiper-slide {
  align-items: center;
  background: #444;
  display: flex;
  font-size: 18px;
  justify-content: center;
  transition: all 0.3s ease;
  /* Center slide text vertically */
  text-align: center;
  width: 300px;   /* 或 60% */
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.swiper-slide-active {
  transform: scale(1.2);
}

.swiper-slide {
  opacity: 0.5;
  transform: scale(0.8);
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.2);
}


@media (max-width:768px) {
  .swiper{
    margin-top: 9px;
  }
}